.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: 0;
}
.container h1{
  margin: 0;
  text-align: center;
  padding: 1rem;
  background-color: aquamarine;
}
.postsWrapper{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  flex-wrap: wrap;
}
.card{
  width: 330px;
  height: auto;
  border: 1px solid #aaa;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}
